.application-container {
  padding: 1rem 0;

  .application-list-items {
    user-select: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .application-search {
    min-width: 300px;
    width: 50px;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.application-item-container {
  background: linear-gradient(90deg, #eef8db, #ffffff);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  display: flex;
  width: 25rem;
  cursor: pointer;

  &:hover {
    background: linear-gradient(#eef8db, #eef8db);
    border: 1px solid #d7e7a9;
  }

  .side-bar {
    width: 0.75rem;
    height: 100%;
    background: #d7e7a9;
    border-radius: 0.5rem 0 0 0.5rem;
  }

  .icon {
    width: 65px;
    height: 65px;
  }

  .content {
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
  }

  .title {
    font-size: 1rem;
    font-weight: 600;
  }
}
