.create-section {
  .form-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .tab-contents {
    height: calc(100vh - 260px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
